<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Template/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Template/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Template/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Template/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="~/Template/plugins/waitme/waitMe.css" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="~/Template/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Template/css/style.css" rel="stylesheet">
    <link href="~/Template/plugins/jsgrid-1.5.3/dist/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/Template/plugins/jsgrid-1.5.3/dist/jsgrid.min.css" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Template/css/themes/all-themes.css" rel="stylesheet" />

</head>
<body class="theme-green">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    iv class="overlay"></div>

    <div>
        @ViewBag.Message;
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="../../index.html">REST Consult</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="discLi">
                        @if (Session["token"] != null)
                        {
                            <a href="@Url.Action("Disconnect", "Home")" style="color:red" class="js-search" data-close="true"><i class="material-icons">swap_horiz</i></a>
                        }

                    </li>
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <!-- #END# Notifications -->
                    <!-- Tasks -->

                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="material-icons">compare_arrows</i>
                            <span>Connect</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">shopping_cart</i>
                            <span>Sort Messages</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Action("SortRequest", "Sort")">Sort Request</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SortConfirmation", "Sort")"> Sort Confirmation</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ReasSortRequest", "Sort")">Reasign Sort Request</a>
                            </li>
                            <li>
                                <a href="">Location State Change</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">web</i>
                            <span>Data Management</span>
                        </a>
                        <ul class="ml-menu">


                            <li>
                                <a href="@Url.Action("Index", "Field")">Fields</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "DataField")">Data</a>
                            </li>
                                                        
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">all_inclusive</i>
                            <span>Order Processing</span>
                        </a>
                        <ul class="ml-menu">

                            <li>
                                <a href="@Url.Action("Index", "Wave")">Order Generation</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Send")">Timed Sending</a>
                            </li>

                        </ul>
                    </li>
                    


                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()

        </div>
    </section>


    <script src="~/Template/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Template/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Template/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Template/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Template/plugins/node-waves/waves.js"></script>

    <!-- Autosize Plugin Js -->
    <script src="~/Template/plugins/autosize/autosize.js"></script>

    <!-- Moment Plugin Js -->
    <script src="~/Template/plugins/momentjs/moment.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Template/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    @RenderSection("scripts", false)
    <!-- Custom Js -->
    <script src="~/Template/js/admin.js"></script>
    <script src="~/Template/js/pages/forms/basic-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="~/Template/js/demo.js"></script>









</body>
</html>
